{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="./css/player_styles.css">
{% endblock %}

{% block body %}
    {# Búsqueda, parte superior #}
    <div class='row'>
        <div class='col-12'>
            {{ include('musica/_busqueda.html.twig') }}    
        </div>
    </div>

    {# Cuerpo, fila central#}
    <div class='row'>
        {# Cola de reproducción #}
        <div class='col-4'>
            {{ include('musica/_cola_repr.html.twig') }}    
        </div>
        {# Resultados de la Búsqueda #}
        <div id='divResultados' class='col-4 overflow-auto'>
            {{ include('musica/_resultados.html.twig') }}    
        </div>
        {# Listas de reproducción #}
        <div class='col-3'>
            {{ include('musica/_listas_repr.html.twig') }}    
        </div>
    </div>

    {# Reproduciendo, fila inferior #}
<<<<<<< HEAD
    <div class='row fixed-bottom'>
=======
    <div class='row fixed-bottom m-5'>
>>>>>>> e900ea703fdce350e25ded081f390286bd71a97c
        <div class='col-12'>
            {{ include('musica/_reproduciendo.html.twig') }}    
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  <script src="./js/howler.core.js"></script>
  <script src="./js/siriwave.js"></script>
  <script src="./js/player.js"></script>
  <script src="./js/cola_repr.js"></script>
  <script src="js/principal.js"></script>
{% endblock %}
